body {
  padding-top: 90px;
  font-family: "Gotham Pro";
}
h1 {
  line-height: 50px;
  font-size: 40px;
  color: #333;
}
h1,
h2,
h3 {
  font-weight: 700;
  font-family: Gotham Pro;
  font-style: normal;
}
.clear-padding {
  padding: 0;
}
.padding-bottom-xs {
  padding-bottom: 10px;
}
.padding-bottom-sm {
  padding-bottom: 20px;
}
.padding-bottom-md {
  padding-bottom: 30px;
}
.front-xs {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  color: #8b8b8b;
}
/* header */
header .navbar {
  padding: 0px;
  background-color: #ffffff;
}
#header-img {
  width: 1131px;
  height: 755px;
  right: 50%;
  margin-right: 150px;
  position: absolute;
  background-image: url("../imgs/header-bg-l-desk.svg");
}
#header .navbar {
  height: 90px;
  padding: 20px 0px;
}
#header {
  margin-bottom: 30px;
}

/* content */

/* footer */
#footer div {
  margin-top: 20px;
}

/* joinUs */
/* #joinUs .row:nth-of-type(1) */
#joinUs .row:nth-of-type(1) .title {
  font-family: Gotham Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 23px;
  margin: 0 0 39px 0;
}
#joinUs .row:nth-of-type(1) .title {
  padding-bottom: 20px;
}
#joinUs .row:nth-of-type(1) .join-panel {
  height: 688px;
}

#joinUs .row:nth-of-type(1) .join-panel .panel-body {
  padding: 55px 72px;
  background: #f5f9fc;
}
#joinUs .row:nth-of-type(1) .panel-body .btn {
  height: 60px;
  width: 250px;
  background: #fbb40d;
  border-radius: 50px;
}
/* #joinUs .row:nth-of-type(2)  */
#joinUs .row:nth-of-type(2) .col-lg-12 {
  padding: 0px;
}
#joinUs .row:nth-of-type(2) .title-nav {
  margin-bottom: 25px;
}
#joinUs .row:nth-of-type(2) .circular {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: linear-gradient(180deg, #4e3d95 0, #3a2e60 100%) !important;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 23px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  justify-content: center;
}
#joinUs .row:nth-of-type(2) .circular + div {
  min-height: 50px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 15px;
  display: flex;
  align-items: center;
  color: #333333;
}
#joinUs .row:nth-of-type(2) .panel:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -30px;
  height: 60px;
  width: 5px;
  background: linear-gradient(180deg, #231e33 17.73%, #431c48 100%);
  border-radius: 0 10px 10px 0;
}
#joinUs .row:nth-of-type(2) .panel {
  box-shadow: 0px 10px 45px rgba(47, 45, 133, 0.1);
  border: none;
}
#joinUs .row:nth-of-type(2) .panel-body:nth-of-type(1) {
  background: #f5f9fc;
}
#joinUs .row:nth-of-type(2) .panel-body:nth-of-type(1) .nav-left {
  height: 120px;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 18px;
}
#joinUs .row:nth-of-type(2) .panel-body:nth-of-type(1) .nav-right {
  background: #ffffff;
  border-radius: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #4c4c4c;
  padding: 5px 0px;
}
/* #joinUs .row:nth-of-type(3) */
#joinUs .row:nth-of-type(3) li {
  list-style: none;
  padding-left: 31px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 33px;
  color: #4c4c4c;
  background: url("../imgs/arrow-point-to-right.svg") no-repeat top 50% left 0;
}
#joinUs .row:nth-of-type(3) .panel {
  background: #f5f9fc;
  box-shadow: 0px 10px 45px rgba(47, 45, 133, 0.1);
  border-radius: 20px;
}
#joinUs .row:nth-of-type(3) .panel .panel-body {
  padding: 5px;
}
#joinUs .row:nth-of-type(3) .panel img {
  height: 60px;
  width: 60px;
}
/* #joinUs .row:nth-of-type(4) */
#joinUs .row:nth-of-type(4) .panel {
  height: 300px;
}
#joinUs .row:nth-of-type(4) .panel-body {
  height: 300px;
}
#joinUs .footer .panel-body .btn {
  margin-top: 25px;
  height: 60px;
  width: 250px;
  border-radius: 50px;
}
