body {
  padding-top: 9rem;
  font-family: "Gotham Pro";
}
h1 {
  line-height: 5rem;
  font-size: 4rem;
  color: #333;
}
h1,
h2,
h3 {
  font-weight: 700;
  font-family: Gotham Pro;
  font-style: normal;
}
p {
  font-style: normal;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 3rem;
  color: #4c4c4c;
}
.clear-margin {
  margin: 0rem;
}
.clear-padding {
  padding: 0rem;
}
.clear-padding-left {
  padding-left: 0rem;
}
.clear-padding-right{
  padding-right: 0rem;
}
.clear-border{
  border: none !important;
}
.padding-top-xs {
  padding-top: 1rem;
}
.padding-top-sm {
  padding-top: 2rem;
}
.padding-top-md {
  padding-top: 3rem;
}
.padding-top-lg {
  padding-top: 5rem;
}
.padding-bottom-xs {
  padding-bottom: 1rem;
}
.padding-bottom-sm {
  padding-bottom: 2rem;
}
.padding-bottom-md {
  padding-bottom: 3rem;
}
.padding-bottom-lg {
  padding-bottom: 5rem;
}
.front-xs {
  font-style: normal;
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 2rem;
  color: #8b8b8b;
}
.panel-blue {
  background: #f5f9fc;
  border: none;
}
.shadow-default{
  border-radius: 2rem;
  box-shadow: 0 1rem 4.5rem rgba(47, 45, 133, .1);
}
/* header */
header .navbar {
  padding: 0;
  background-color: #ffffff;
}
#header-img {
  width: 113rem;
  height: 75rem;
  right: 50%;
  margin-right: 15rem;
  position: absolute;
  background-image: url("../imgs/header-bg-l-desk.svg");
}
#header .navbar {
  height: 9rem;
  padding: 2rem 0;
}
#header {
  margin-bottom: 3rem;
}
/* content */

/* footer */
/* #footer div {
  margin-top: 2rem;
} */
#footer {
  padding-top: 30rem;
  background: url("../imgs/footer-bg.svg") 50% 100% no-repeat;
}
#footer > div:nth-of-type(1) {
  height: 5rem;
}
#footer > div:nth-of-type(2) {
  padding-top: 1rem;
}
